/*import "./index.css"*/

div.widget {
  display: block;
}

div.widget-header {
  display: flex;
  justify-content: space-between;
}

div.widget-title {
  display: inline;
}

div.widget-popout {
  display: inline;
}

div.widget-body {
  display: grid;
  justify-content: center;
}
